/*dimensão e configuração básica da página*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "open sans";
}
/*dimensionando e configurando a div*/
.container{
    width: 100%; /*largura*/
    height: 100vh;/*altura*/
    display: flex; /*flexivel*/
    align-items: center; /*alinhamento do botão em altura*/
    justify-content: center; /*alinhamento do botão em largura*/
}
/*configurações básicas do botão*/
button{
    font-size: 32px; /*tamanho da fonte*/
    padding: 15px 30px; /*preenchimento do botão*/
    border: 0; /*botão sem borda*/
    border-radius: 15px; /*pontas arredondadas*/
    color: white; /*cor da letra*/
    font-family: 400; /*letras mais finas*/
    background: linear-gradient(to right, gold, rgb(255,123, 0)); /*background gradiente do amarelo ao laranja*/
    cursor: pointer; /*ponteiro ao passar o mouse pelo botão*/
}
/*animações e efeitos*/
button:hover{ 
    animation-name: botao; /*pegar a animação "botao"*/
    animation-duration: 0.5s; /*duração da animação*/
    animation-iteration-count: infinite; /*looping infinito da animação*/
    animation-direction: alternate; /*animação externa*/
    animation-timing-function: ease-in-out; /*indo e voltando*/
    box-shadow: 0 0 50px 20px rgba(255, 166, 0, 0.5); /*sombreamento*/
}
/*configurando a animação*/
@keyframes botao{ 
    0%{
        transform: scale(1); /* quando em 0%, escala 1*/
    }
    100%{
        transform: scale(1.05); /*quando em 100%, escala 1.05*/
    }
}